<div class="columns is-variable has-text-white  has-background-black">
  <div class="column"> {{station.title}}  {{>icons/pin}}</div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> Weather {{>icons/thunderstorm}}</div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> Temp {{>icons/temp}}</div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> Wind  {{>icons/wind}} </div>
  <div class="column is-1 has-background-white"></div>
  <div class="column"> Pressure {{>icons/pressure}}</div>
</div>

