<table class="table is-fullwidth">
  <thead>
    <tr>
      <th> Fname </th>
      <th> Lname</th>
      <th> Email </th>
      
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td> 
        {{user.firstName}} </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.email}}
      </td>
    </tr>
  </tbody>
</table>